.balance-modal {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: $color-grey-dark2;
	&__container {
		@include absCenter;

		padding: 3rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 62.9rem;
		height: 76rem;
		background-color: $color-white;
		border-radius: 30px;
		gap: 30px;
		& input[type='text'] {
			max-width: 46.7rem;
			width: 100%;
			height: 5.5rem;
			border: 1px solid $color-grey-light2;
			border-radius: 4px;
			font-size: 2.4rem;
			text-align: center;
			&:focus,
			&:active {
				outline: 1px solid $color-grey-dark2;
			}
		}
		& form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 3rem;
			width: 100%;
		}
		& button {
			height: 5.5rem;
		}
		& img {
			max-width: 29.7rem;
			height: auto;
			@include respond(small-desk) {
				width: 43%;
			}
			@include respond(tab-land) {
				width: 40%;
			}
			@include respond(tab-port) {
				width: 35%;
			}
		}
	}
	&__text {
		font-size: 3.2rem;
		line-height: 0.6;
		font-weight: 400;
		&--orange {
			color: $color-primary;
		}
	}
}

.post-modal {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: $color-grey-dark2;
	&__container {
		@include absCenter;

		width: 52%;
		height: 64%;
		background-color: $color-white;
		border-radius: 10px;
		gap: 30px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	&__content {
		padding: 1.8rem 0 3rem 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.8rem;
		width: 725px;
		max-height: 544px;
		@include respond(big-desk) {
			width: 657px;
			max-height: 494px;
		}
		@include respond(normal-desk) {
			width: 580px;
			max-height: 434px;
		}
		@include respond(small-desk) {
			width: 540px;
			max-height: 409px;
		}
		@media (max-width: 86em) {
			width: 510px;
			max-height: 389px;
		}
		@media (max-width: 80em) {
			width: 480px;
			max-height: 364px;
		}
		@include respond(tab-land) {
			width: 400px;
			max-height: 310px;
		}
		@include respond(tab-port) {
			width: 350px;
			max-height: 270px;
		}
		& p {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__img-back {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		background-color: $color-grey-ulralight;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
			background-color: $color-grey-dark;
		}
		& img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	&__name {
		font-size: 2.4rem;
		line-height: 1.15;
		color: $color-black;
	}
	&__style {
		font-size: 1.8rem;
		line-height: 1.15;
		color: $color-grey-dark2;
	}
	&__heading {
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.1;
	}
	&__description {
		padding: 1.5rem 2.3rem 7.5rem 0;
		display: flex;
		flex-direction: column;
		max-width: 20rem;
		gap: 2rem;
		& button {
			width: 100%;
			height: 3.4rem;
			padding: 0;
			font-size: 2rem;
		}
	}
	&__header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;
	}
	&__profile-img {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		object-fit: cover;
		transition: all 0.3s;
		@include respond(big-desk) {
			width: 38px;
			height: 38px;
		}
		@include respond(normal-desk) {
			width: 34px;
			height: 34px;
		}
		@include respond(small-desk) {
			width: 32px;
			height: 32px;
		}
		@include respond(tab-land) {
			width: 28px;
			height: 28px;
		}
		@include respond(tab-port) {
			width: 24px;
			height: 24px;
		}
		&:hover {
			cursor: pointer;
			box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
		}
	}
	&__info {
		font-size: 1.6rem;
		&--description {
			line-height: 1.75;
			color: $color-grey-dark2;
			max-height: 8.4rem;
			overflow-y: auto;
			word-wrap: break-word;
			&::-webkit-scrollbar {
				width: 0.6rem;
			}
			&::-webkit-scrollbar-track {
				background: $color-grey-light2;
			}
			&::-webkit-scrollbar-thumb {
				background: $color-grey-dark;
				border-radius: 4px;
				width: 0.3rem;
			}
		}
		&--info {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1.5rem 0;
			border-top: 2px solid $color-primary;
			border-bottom: 2px solid $color-primary;
			line-height: 1.25;
			color: $color-black;
		}
	}
	& form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		& input[type='number'] {
			font-size: 1.6rem;
			color: $color-grey-dark2;
			padding-left: 9px;
			border: 1px solid $color-grey-light2;
			border-radius: 4px;
			height: 2.7rem;
			width: 100%;
			&:focus {
				outline: 1px solid $color-grey-dark2;
			}
		}
	}
	&__answer {
		width: 100%;
		height: 4.4rem;
		line-height: 4.4rem;
		font-size: 1.6rem;
		text-align: center;
		vertical-align: center;
		border-radius: 6px;
		&--success {
			color: #008000;
			background-color: #cfc;
		}
		&--error {
			background-color: $color-error;
			color: $color-primary;
		}
	}
}

.post-upload {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: $color-grey-dark2;
	&__text {
		text-align: center;
		padding: 2.5rem 0 2rem 0;
		font-size: 3.6rem;
		line-height: 1.15;
		&--orange {
			color: $color-primary;
		}
	}
	&__container {
		@include absCenter;

		background-color: $color-white;
		width: 110rem;
		height: 60rem;
	}
	&__list {
		max-width: 51rem;
		height: 49.3rem;

		overflow-y: scroll;
		background-color: $color-white;
		border: 2px solid $color-grey-light2;
		border-radius: 4px;
		&::-webkit-scrollbar {
			width: 0.6rem;
		}
		&::-webkit-scrollbar-track {
			background: $color-grey-light2;
		}
		&::-webkit-scrollbar-thumb {
			background: $color-grey-dark;
			border-radius: 4px;
			width: 0.3rem;
		}
		& li {
			display: flex;
			align-items: center;
			padding: 1.5rem 0 1.5rem 1.5rem;
			gap: 1.5rem;
			transition: all 0.2s;
			&:hover {
				cursor: pointer;
				background-color: $color-grey-light2;
			}
			& img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				@include respond(normal-desk) {
					width: 60px;
					height: 60px;
				}
				@include respond(tab-land) {
					width: 40px;
					height: 40px;
				}
			}
			& div {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
			}
		}
	}
	&__name {
		font-size: 2.8rem;
		color: $color-black;
	}
	&__style {
		font-size: 2.4rem;
		color: $color-grey-light;
	}
	&__data {
		font-size: 2.8rem;
		line-height: 0.6;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
		max-width: 48rem;
		& input {
			width: 100%;
			height: 6rem;
			font-size: 2.8rem;
			border: 1px solid $color-grey-light2;
			border-radius: 4px;
			&[type='date'],
			&[type='number'] {
				padding-left: 9px;
				color: $color-grey-dark2;
				&:focus {
					outline: 1px solid $color-grey-dark2;
				}
			}
		}
	}
	&__item {
		background-color: $color-white;
		&--selected {
			background-color: $color-grey-light2;
		}
	}
	&__answer {
		width: 100%;
		height: 5.5rem;
		line-height: 5.5rem;
		font-size: 2.2rem;
		text-align: center;
		vertical-align: center;
		border-radius: 6px;
		&--error {
			background-color: $color-error;
			color: $color-primary;
		}
		&--success {
			color: #008000;
			background-color: #cfc;
		}
	}
}

.painting-upload {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: $color-grey-dark2;
	&__container {
		@include absCenter;

		background-color: $color-white;
		width: 38%;
		height: 85%;
		padding: 5.7rem 12rem 9rem 12rem;
		border-radius: 3rem;
		& form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2.3rem;
		}
	}
	&__header {
		width: 100%;
	}
	&__select-img {
		text-wrap: nowrap;
		display: block;
		background-color: $color-grey-light2;
		width: 100%;
		text-align: center;
		line-height: 26rem;
		font-size: 4rem;
		color: $color-white;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
			background-color: $color-grey-dark;
			transform: scale(0.98);
		}
	}
	&__body {
		font-family: 'Inter';
		font-size: 1.6rem;
		display: flex;
		flex-direction: column;
		gap: 3.7rem;
		border-top: 1px solid $color-primary;
		width: 95%;
		height: 85%;
		padding: 3.7rem 0;
		& input,
		select {
			font: inherit;
			width: 100%;
			height: 5.4rem;
			border: 1px solid $color-grey-light2;
			border-radius: 10px;
			color: $color-grey-light;
			padding-left: 1rem;
			&:focus,
			&:active {
				outline: 1px solid $color-grey-dark2;
			}
		}
	}
	& button {
		height: 5.9rem;
		max-width: 100%;
		margin: 0 auto;
	}
}

.pr-settings-modal {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: $color-grey-dark2;
	&__content {
		@include absCenter;

		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;
		width: 38%;
		height: 85%;
		background-color: #ffffff;
		border-radius: 30px;
		box-shadow: 2px 2px 20px hsl(0, 0%, 50%);
		& form {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
		}
		& button[type='submit'] {
			width: 567px;
			height: 69px;
			cursor: pointer;
			box-shadow: 0px 10px 30px #ffb7d5;
			background-color: $color-primary-darker;
			color: #ffffff;
			border-radius: 2.8px;
			border: none;
			font-size: 3.2rem;
			line-height: 19px;
			text-align: center;
			&:hover {
				background: $color-primary-darker;
				box-shadow: 0px 10px 30px #b22222;
				border-radius: 4.8px;
			}
		}
		& .pass-line {
			width: 480px;
			height: 0px;
			border: 1px solid $color-primary;
			margin: 54px 0 59px 0;
		}
		& span {
			font-size: 24px;
			color: $color-primary;
			margin: 32px 0 48px 0;
		}
	}
	&__input-item {
		& input {
			display: flex;
			flex-direction: column;
			width: 498px;
			height: 54px;
			border: 1px solid #e8e8e8;
			border-radius: 10px;
			padding: 17px 10px;
			font-size: 18px;
			&::placeholder {
				color: $color-grey-dark2;
			}
			&:focus {
				outline: 1px solid $color-grey-dark2;
			}
		}
		&:not(:first-child) {
			margin-bottom: 4.8rem;
		}
	}
	&__ans {
		display: block;
		width: 100%;
		padding: 20px;
		text-align: center;
		margin-top: 20px;
		font-size: 2rem;
		font-weight: 600;
		&--success {
			color: #008000;
			background-color: #cfc;
		}
		&--warning {
			color: white;
			background-color: #fcc419;
		}
		&--error {
			color: #ea7462;
			background-color: rgba(234, 116, 98, 0.55);
		}
	}
}
