.mrg-small-bottom {
	margin-bottom: 25px !important;
}

.mrg-medium-bottom {
	margin-bottom: 90px !important;
}

.mrg-big-right {
	margin-right: 186px !important;
}

.mrg-small-right {
	margin-right: 5px !important;
}

.mrg-small-left {
	margin-left: 5px !important;
}

.mrg-small-top {
	margin-top: 5px !important;
}

.show {
	display: block !important;
}

.hidden {
	display: none !important;
}
