@import url('./reset.css');

@font-face {
	font-family: 'FranklinGothicBook';
	src: url('../FONT/FranklinGothicBookRegular.ttf');
	font-style: normal;
	font-weight: 400;
	color: #000000;
	line-height: 20px;
}

html {
	font-size: 62.5%;
}
@media (max-width: 110em) {
	html {
		font-size: 56.25%;
	}
}
@media (max-width: 100em) {
	html {
		.search-results li a img {
			width: 36px;
			height: 36px;
		}
		font-size: 50%;
	}
}
@media (max-width: 90em) {
	html {
		font-size: 43.75%;
	}
}
@media (max-width: 75em) {
	html {
		font-size: 37.5%;
	}
}
@media (max-width: 60em) {
	html {
		font-size: 31.25%;
	}
}
body {
	font-family: 'FranklinGothicBook', sans-serif;
	font-size: 24px;
	margin: 0 auto;
}

.main {
	position: relative;
	max-width: 1440px;
	margin: 6rem auto;
}

/* <------------- Navigtaion ---------------> */

.search-results {
	position: absolute;
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-height: 31.5rem;
	overflow-y: scroll;
}

.search-results::-webkit-scrollbar {
	width: 0.6rem;
}
.search-results::-webkit-scrollbar-track {
	background: #dbdbdb;
}
.search-results::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.4);
	border-radius: 4px;
	width: 0.3rem;
}

.search-results li a img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	object-fit: cover;
}

.search-results li {
	border-bottom: 1px solid #dbdbdb;
	padding: 1rem;
}

.search-results li:hover {
	background-color: #dbdbdb;
}

.search-results a {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #000;
	font-family: 'Inter';
	font-size: 2rem;
}
.search-input {
	max-width: 305px;
	width: 100%;
	height: 30px;
	font-size: 1.8rem;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	background-image: url('../IMG/Vector_search_icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 110px;
}

.search-guide {
	width: 100%;
	max-width: 305px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
	outline-color: rgba(0, 0, 0, 0.2);
	background: none;
}

.search-input:active {
	background: none;
}

.search-input::placeholder {
	color: hsl(0, 0%, 30%);
	text-align: center;
}

.nav {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #fff;
	padding: 0 3.5rem;
	height: 9.5rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2.4rem;
	line-height: 0.5;
	box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}
.nav__left {
	display: flex;
	gap: 5.3rem;
	align-items: center;
}
.nav__right {
	display: flex;
	gap: 1.9rem;
	align-items: center;
}
.nav__right .nav__item:not(:first-child) img {
	cursor: pointer;
	transition: all 0.3s;
}
.nav__right .nav__item:not(:first-child) img:hover,
.nav__right .nav__item:not(:first-child) img:active,
.nav__right .nav__item:not(:first-child) img:focus {
	transform: translateY(-10%);
}
.nav__right .nav__item:first-child img {
	cursor: pointer;
	transition: all 0.3s;
}
.nav__right .nav__item:first-child img:hover {
	transform: translateY(-10%);
}
.nav__item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.nav__lisa-icon,
.nav__upload-icon,
.nav__notif-icon,
.nav__profile-pic {
	height: auto;
}
.nav__lisa-icon {
	width: 17px;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 90em) {
	.nav__lisa-icon {
		width: 15px;
	}
}
@media (max-width: 75em) {
	.nav__lisa-icon {
		width: 13px;
	}
}
@media (max-width: 60em) {
	.nav__lisa-icon {
		width: 11px;
	}
}
.nav__upload-icon {
	width: 40px;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 90em) {
	.nav__upload-icon {
		width: 35px;
	}
}
@media (max-width: 75em) {
	.nav__upload-icon {
		width: 30px;
	}
}
@media (max-width: 60em) {
	.nav__upload-icon {
		width: 25px;
	}
}
.nav__notif-icon {
	width: 32px;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 90em) {
	.nav__notif-icon {
		width: 25px;
	}
}
@media (max-width: 75em) {
	.nav__notif-icon {
		width: 20px;
	}
}
@media (max-width: 60em) {
	.nav__notif-icon {
		width: 18px;
	}
}
.nav__notif-icon--unchecked {
	content: url('../img/nav-icons/notif-unchecked.png');
}
.nav__notif-icon--checked {
	content: url('../img/nav-icons/notif.png');
}
.nav__profile-pic {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 90em) {
	.nav__profile-pic {
		width: 38px;
		height: 38px;
	}
}
@media (max-width: 75em) {
	.nav__profile-pic {
		width: 33px;
		height: 33px;
	}
}
@media (max-width: 60em) {
	.nav__profile-pic {
		width: 28px;
		height: 28px;
	}
}
.nav__link,
.nav__link:link,
.nav__link:visited {
	display: inline-block;
	color: #000;
	transition: all 0.2s;
}
.nav__link:hover,
.nav__link:active {
	color: #ea7462;
	transform: scale(1.05);
}

.nav__link--active,
.nav__link--active:link,
.nav__link--active:visited {
	color: #e36f2d;
	transform: scale(1.05);
	transition: all 0.2s;
}

.nav__link--active:hover,
.nav__link--active:active {
	color: #000;
	transform: scale(1);
}
/* <----------------Filter list ------------------->*/

.style-list {
	position: absolute;
	top: 0;
	right: 3rem;
	margin-top: 14px;
	font-size: 20px;
	width: 100%;
	max-width: 274px;
	height: 451px;
	font-size: 20px;
	font-family: 'Inter';
}

.style-list:after {
	clear: both;
}

.styles {
	color: rgba(0, 0, 0, 0.5);
	line-height: 24px;
	font-family: 'Inter', sans-serif;
	padding-bottom: 17px;
}

.default-list {
	width: 100%;
	height: 40px;
	border: 1px solid #dbdbdbdb;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #dbdbdb;
	color: #ffffff;
	letter-spacing: -0.006em;
	cursor: pointer;
	font-size: 20px;
	text-align: left;
	padding-left: 9px;
}

.default-list:hover {
	color: hsl(0, 0%, 30%);
}

.filter-list {
	position: absolute;
	list-style-type: none;
	border: 1px solid #dbdbdb;
	background: #ffffff;
	overflow-y: scroll;
	max-height: 370px;
	width: 274px;
}

.filter-list li {
	padding: 0 0 20px 9px;
}

.filter-list li:first-child {
	margin-top: 10px;
}

.style-item {
	text-decoration: none;
	font-family: 'Inter';
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: -0.006em;
}

.filter-list::-webkit-scrollbar {
	width: 7px;
	height: 36px;
	background: #dbdbdb;
}

.filter-list::-webkit-scrollbar-thumb {
	background: #ffffff;
}

.filter-list .style-item:hover {
	color: rgba(0, 0, 0, 0.2);
}

/* <------------- Publications ---------------> */
.posts-container {
	display: flex;
	flex-direction: column;
	gap: 60px;
	width: 1000px;
	min-height: 1100px;
	padding-left: 3rem;
}

.post {
	width: 100%;
	height: auto;
	max-width: 1000px;
	max-height: 1100px;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.author-avatar {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	object-fit: cover;
	transition: all 0.3s;
}

.author-avatar:hover {
	cursor: pointer;
	box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.2);
}

.post-header .author-info {
	display: flex;
	align-items: center;
}

.post-titles {
	color: #00000099;
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: row;
}

.post-titles span {
	padding: 0 7px 0 11px;
}

.author-info img {
	margin-right: 9px;
}

.post-img-block {
	transition: all 0.3s;
	background-color: rgba(0, 0, 0, 0.05);
}

.post-img-block:hover {
	cursor: pointer;
	background-color: #dbdbdb;
}

.post-image {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	display: block;
}

.post-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 14px 5px 0 5px;
}

.likes,
.comments {
	display: flex;
	align-items: center;
	padding: 1px 6px;
}

.likes-icon {
	width: 35px;
	height: 35px;
	content: url('../img/love0.svg');
}

.active {
	content: url('../IMG/love.svg');
}

.comments-icon {
	width: 35px;
	height: 35px;
}

#likes-count,
#comments-count {
	margin-right: 10px;
	color: hsl(100, 0%, 70%);
}

.likes-btn,
.comments-btn {
	border: 1px solid hsl(100, 0%, 89%);
	background: hsl(100, 0%, 95%);
	font-size: inherit;
	cursor: pointer;
	transition: background-color 0.2s;
	border-radius: 10px;
}

.likes-btn:hover {
	background-color: hsl(100, 0%, 88%);
}

.comments-btn:hover {
	background-color: hsl(100, 0%, 88%);
}

/* <----------------back button -------------------> */

.back-button {
	right: 5%;
	bottom: 20px;
	position: fixed;
}

.press-back {
	border: 1px solid #dbdbdb;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	bottom: 20px;
	background-color: #ffffff;
	cursor: pointer;
}

.press-back:hover {
	background: hsl(0, 0%, 95%);
}

.arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* <-------------- всякая выпадающая ерунда ---------------> */
.notif-dropdown {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 2px solid #dbdbdb;
	border-radius: 4px;
	font-size: 1.6rem;
	top: 35px;
	right: -15px;
	width: 33rem;
	text-wrap: nowrap;
	cursor: default;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
.notif-dropdown__container {
	padding: 1rem 0.5rem;
	max-height: 40rem;
	overflow-y: scroll;
	width: 100%;
}
.notif-dropdown__container::-webkit-scrollbar {
	width: 0.6rem;
}
.notif-dropdown__container::-webkit-scrollbar-track {
	background: #dbdbdb;
}
.notif-dropdown__container::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.4);
	border-radius: 4px;
	width: 0.3rem;
}
.notif-dropdown__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dbdbdb;
	padding: 8px 1px;
	transition: all 0.3s;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
.notif-dropdown__item:hover {
	cursor: pointer;
	background-color: #dbdbdb;
	background-size: cover;
}
.notif-dropdown__item img {
	width: 30px;
	height: 30px;
	object-fit: cover;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 75em) {
	.notif-dropdown__item img {
		width: 25px;
		height: 25px;
	}
}
@media (max-width: 60em) {
	.notif-dropdown__item img {
		width: 23px;
		height: 23px;
	}
}
@media (max-width: 90em) {
	.notif-dropdown__item {
		padding: 4px 1px;
	}
}
@media (max-width: 75em) {
	.notif-dropdown__item {
		padding: 3px 1px;
	}
}
@media (max-width: 60em) {
	.notif-dropdown__item {
		padding: 2px 1px;
	}
}
@media (max-width: 75em) {
	.notif-dropdown {
		top: 30px;
	}
}
@media (max-width: 60em) {
	.notif-dropdown {
		top: 27px;
	}
}

.profile-dropdown {
	position: absolute;
	top: 55px;
	display: none;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	z-index: 1;
	padding: 5px 5px;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
.profile-dropdown__link,
.profile-dropdown__settings,
.profile-dropdown__exit {
	text-decoration: none;
	font-size: 1.4rem;
	font-family: 'Inter';
	color: #000;
	display: block;
	padding: 1rem 0.4rem;
	transition: all 0.2s;
}
.profile-dropdown__link:hover:not(:last-child),
.profile-dropdown__settings:hover:not(:last-child),
.profile-dropdown__exit:hover:not(:last-child) {
	color: #e36f2d;
	transform: scaleY(1.1);
}
.profile-dropdown__link:last-child,
.profile-dropdown__settings:last-child,
.profile-dropdown__exit:last-child {
	color: #ea7462;
}
.profile-dropdown__link:last-child:hover,
.profile-dropdown__settings:last-child:hover,
.profile-dropdown__exit:last-child:hover {
	color: #c92a2a;
	font-weight: 500;
	transform: scaleY(1.1);
}
@media (max-width: 90em) {
	.profile-dropdown {
		top: 45px;
	}
}
@media (max-width: 75em) {
	.profile-dropdown {
		top: 40px;
	}
}
@media (max-width: 60em) {
	.profile-dropdown {
		top: 36px;
	}
}
/* <-------- Privacy settings modal --------> */

.privacyModal {
	overflow-y: auto;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.7);
	font-family: 'Inter';
}

.privacyModal .modal-content {
	margin: 35px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	width: 730px;
	height: 770px;
	font-family: 'Inter';
	font-weight: 400;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 2px 2px 20px hsl(0, 0%, 50%);
}

.privacyModal .modal-content form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.privacyModal .input-item input {
	display: flex;
	flex-direction: column;
	width: 498px;
	height: 54px;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	padding: 17px 10px;
	font-size: 18px;
}

.privacyModal .input-item:not(:first-child) {
	margin-bottom: 48px;
}

.privacyModal .input-item input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

.privacyModal .modal-content button[type='submit'] {
	width: 567px;
	height: 69px;
	cursor: pointer;
	box-shadow: 0px 10px 30px #ffb7d5;
	background-color: #ea7462;
	color: #ffffff;
	border-radius: 2.8px;
	font-size: 32px;
	line-height: 19px;
	text-align: center;
}

.privacyModal .modal-content button[type='submit']:hover {
	background: #ff6347;
	box-shadow: 0px 10px 30px #b22222;
	border-radius: 4.8px;
}

.hr-line .pass-line {
	width: 480px;
	height: 0px;
	border: 1px solid #e36f2d;
	margin: 54px 0 59px 0;
}

.privacyModal .modal-content span {
	font-size: 24px;
	color: #e36f2d;
	margin: 32px 0 48px 0;
}

#privacyMessage {
	display: block;
	width: 100%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-weight: 400;
	text-align: center;
	margin-top: 20px;
}

#privacyMessage.error {
	color: #ea7462;
	background-color: rgba(234, 116, 98, 0.55);
}

#privacyMessage.warning {
	color: white;
	background-color: rgba(100, 100, 100, 0.2);
}

#privacyMessage.success {
	color: #008000;
	background-color: #cfc;
}

/* <------------ Publication upload modal -------------> */
/* Оформление модального окна */
.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.publish-button {
	margin: 0 auto;
	width: 63.48%;
	height: 34.7%;
	background: #ea7462;
	box-shadow: 0px 10px 30px #ffb7d5;
	border-radius: 2.8px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #e36f2d;
}

.modal-header h3 {
	margin: 0;
}

.modal-body {
	padding: 20px 0;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 0;
}

.cancel-button,
.submit-button {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	margin: 0 8px;
	cursor: pointer;
}

.cancel-button:hover,
.submit-button:hover {
	background-color: #ddd;
}

.upload-photo {
	position: relative;
	width: 549px;
	height: 359px;
	background: #d9d9d9;
	cursor: pointer;
}

.select-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 302px;
	height: 48px;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

.upload-photo:hover {
	opacity: 0.8;
}

/* HELPER CLASS */
.mrg-bottom-small {
	margin-bottom: 4rem !important;
}

.footer {
	margin-top: 80px;
	font-size: 13px;
	text-wrap: nowrap;
	border-top: 1px solid #dbdbdb;
	padding: 14px 68px 39px 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.footer ul {
	display: flex;
	gap: 10px;
	align-items: center;
}
.footer__social {
	display: flex;
	align-items: center;
	gap: 20px;
}
.footer__social address {
	display: flex;
	gap: 20px;
}
.footer__social-link,
.footer__social-link:link,
.footer__social-link:visited {
	transition: all 0.3s;
}
.footer__social-link:hover,
.footer__social-link:active {
	transform: scale(1.2);
}
.footer__img {
	width: 20px;
	height: auto;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 90em) {
	.footer__img {
		width: 16px;
	}
}
@media (max-width: 75em) {
	.footer__img {
		width: 14px;
	}
}
@media (max-width: 60em) {
	.footer__img {
		width: 12px;
	}
}
.footer__logo {
	height: auto;
	width: 60px;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 90em) {
	.footer__logo {
		width: 48px;
	}
}
@media (max-width: 75em) {
	.footer__logo {
		width: 43px;
	}
}
@media (max-width: 60em) {
	.footer__logo {
		width: 33px;
	}
}

.hidden {
	display: none !important;
}

.footer__link,
.footer__link:visited,
.footer__link:link {
	text-decoration: none;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	color: #707070;
}
.footer__link:hover,
.footer__link:active {
	font-size: 14px;
	color: #e36f2d;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	transform: scale(1.05);
}
.balance-modal {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.7);
}
.balance-modal__container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 62.9rem;
	height: 76rem;
	background-color: #fff;
	border-radius: 30px;
	gap: 30px;
}
.balance-modal__container input[type='text'] {
	max-width: 46.7rem;
	width: 100%;
	height: 5.5rem;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	font-size: 2.4rem;
	text-align: center;
}
.balance-modal__container input[type='text']:focus,
.balance-modal__container input[type='text']:active {
	outline: 1px solid rgba(0, 0, 0, 0.7);
}
.balance-modal__container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	width: 100%;
}
.balance-modal__container button {
	height: 5.5rem;
}
.balance-modal__container img {
	max-width: 29.7rem;
	height: auto;
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
	/**************************/
	/* BELOW 912px (Tablets) */
	/**************************/
	/**************************/
	/* BELOW 1200px (Landscape Tablets) */
	/**************************/
}
@media (max-width: 90em) {
	.balance-modal__container img {
		width: 43%;
	}
}
@media (max-width: 75em) {
	.balance-modal__container img {
		width: 40%;
	}
}
@media (max-width: 60em) {
	.balance-modal__container img {
		width: 35%;
	}
}
.balance-modal__text {
	font-size: 3.2rem;
	line-height: 0.6;
	font-weight: 400;
}
.balance-modal__text--orange {
	color: #e36f2d;
}

.btn-post,
.btn-post:link,
.btn-post:visited {
	display: inline-block;
	font-size: 2.4rem;
	line-height: 0.8;
	border-radius: 4px;
	text-align: center;
	white-space: nowrap;
	padding: 1.1rem 0;
	width: 100%;
	max-width: 46.7rem;
	transition: all 0.2s;
	border: none;
	cursor: pointer;
}

.btn-post--orange {
	color: #fff;
	background-color: #ea7462;
}
.btn-post--orange:hover {
	transform: translateY(-2px);
	box-shadow: 0 1rem 2rem rgba(234, 116, 98, 0.5);
}
.btn-post--orange:active,
.btn-post--orange:focus {
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.pr-settings-modal {
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.7);
}
.pr-settings-modal__content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	width: 38%;
	height: 85%;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 2px 2px 20px gray;
}
.pr-settings-modal__content form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.pr-settings-modal__content button[type='submit'] {
	width: 427px;
	height: 43px;
	cursor: pointer;
	box-shadow: 0px 10px 30px #ffb7d5;
	background-color: #ea7462;
	color: #ffffff;
	border-radius: 2.8px;
	border: none;
	font-size: 3.2rem;
	line-height: 19px;
	text-align: center;
}
.pr-settings-modal__content button[type='submit']:hover {
	background: #ea7462;
	box-shadow: 0px 10px 30px #b22222;
	border-radius: 4.8px;
}
.pr-settings-modal__content .pass-line {
	width: 427px;
	height: 0px;
	border: 1px solid #e36f2d;
	margin: 34px 0 39px 0;
}
.pr-settings-modal__content span {
	font-size: 24px;
	color: #e36f2d;
	margin: 32px 0 48px 0;
}
.pr-settings-modal__input-item input {
	display: flex;
	flex-direction: column;
	width: 407px;
	height: 44px;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	padding: 17px 10px;
	font-size: 18px;
}
.pr-settings-modal__input-item input::placeholder {
	color: rgba(0, 0, 0, 0.7);
}
.pr-settings-modal__input-item input:focus {
	outline: 1px solid rgba(0, 0, 0, 0.7);
}
.pr-settings-modal__input-item:not(:first-child) {
	margin-bottom: 4.8rem;
}
.pr-settings-modal__ans {
	display: block;
	width: 100%;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
	font-size: 2.4rem;
	font-weight: 600;
}
.pr-settings-modal__ans--success {
	color: #008000;
	background-color: #cfc;
}
.pr-settings-modal__ans--warning {
	color: white;
	background-color: #fcc419;
}
.pr-settings-modal__ans--error {
	color: #ea7462;
	background-color: rgba(234, 116, 98, 0.55);
}
